@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-handwritten: "Caveat", cursive;

  --color-primary: #0056A7;
  --color-secondary: #528135;
  --color-dark: #363636;
  --color-light: #FFFFFF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.notebook-text {
  font-family: var(--font-handwritten);
}

@layer components {
  .container {
    max-width: 90vw !important;
  }
}